PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=Anything
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Anything
REFRESH_TOKEN_EXPIRY=10d



MONGODB_URI=mongodb+srv://kanha:<password>@cluster0.6h75049.mongodb.net/
